.topicSection{
    width: 100%;
    overflow:  hidden;
    font-family: 'Poppins', sans-serif;
    .sectionTitle{
        text-align: center;
    }
    .topics{
        .topicWrapper{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-bottom: 1px solid rgba(96, 96, 96, 0.723);
            // border-top: 1px solid rgba(201, 190, 190, 0.69);
            height: 80px;
            .topicIdentity{
                display: flex;
                align-items: center;
                font-size: 3.4rem;
                font-weight: bolder;
                gap: 10px;
                position: relative;
                // left: -9%;
                .topicName{
                    color: transparent;
                    -webkit-text-stroke: .1rem white;
                    // -webkit-text-stroke: 1px white;
                    // -webkit-text-fill-color: transparent;
                    transition: color .3s cubic-bezier(.175,.885,.32,1.275), letter-spacing .3s cubic-bezier(.175,.885,.32,1.275), transform .3s cubic-bezier(.175,.885,.32,1.275), all .3s cubic-bezier(.175,.885,.32,1.275), all .1s ease-in-out;
                
            }
            
            }
            .imageHolder{
                display: none;
                position: absolute;
                .a{
                    display: none;
                }
                .b{
                    // display: none;
                }
                // width: 500px;
                // height: 500px;
                border: 1px solid rgba(125, 104, 104, 0.742);
                // background-image: url("/public/unnamed.jpg");
            }
        }
    }
}