.topicsSection{
    width: 100%;
    color: white;
    .topicContainer{
        width: 80%;
        margin: 0 auto;
        position: relative;
        .marqueeContainer{
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            .topicSectionTitle{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                animation: marquee 20s linear infinite;
            }
        }
        .topicWrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            background-color: #41C77F ;
            border-radius: 2rem;
            margin-bottom: 4px ;
            font-family: "Arame";
            color: black;
            .numberId{
                font-size: 12px;
            }
            .rule{
                font-size: 1.2rem;
                font-weight: 600;
            }
            .arrowSvg{
                background-color: black;
                border-radius: 50%;
                transform: rotate(-30deg);
            }
        
        }
    }
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}