@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Amarante&family=Chakra+Petch:ital,wght@0,500;0,600;1,600;1,700&family=Kanit:ital,wght@1,400;1,500&family=Montserrat:ital,wght@0,200;0,600;0,800;1,400&family=Open+Sans:ital@0;1&family=Roboto+Mono:ital,wght@0,400;1,300;1,400&family=Roboto:wght@300;400&family=Tektur:wght@400;500&family=Ysabeau+SC:wght@600;700&display=swap");

@font-face {
  font-family: "Arame";
  font-weight: 400;
  src: url("/public/font/Arame/Arame.woff2") format("woff2")
    url("/public/font/Arame/Arame.woff") format("woff");
}

@font-face {
  font-family: "Arame";
  font-weight: 300;
  src: url("/public/font/Arame/Arame-Thin.woff2") format("woff2")
    url("/public/font/Arame/Arame-Thin.woff") format("woff");
}

@font-face {
  font-family: "Arame";
  font-weight: 600;
  src: url("/public/font/Arame/ArameMono-Bold.woff2") format("woff2")
    url("/public/font/Arame/ArameMono-Bold.woff") format("woff");
}

@font-face {
  font-family: "Mars model";
  font-weight: 400;
  src: url("/public/font/Mars-model/MarsModel.woff2") format("woff2")
    url("/public/font/Mars-model/MarsModel.woff") format("woff");
}

@font-face {
  font-family: "Mars model";
  font-weight: 600;
  src: url("/public/font/Mars-model/MarsModel-Bold.woff2") format("woff2")
    url("/public/font/Mars-model/MarsModel-Bold.woff") format("woff");
}

@font-face {
  font-family: "Redressed";
  src: url("/public/font/Redressed/Redressed-3X6y.woff") format("woff");
}

@font-face {
  font-family: "SeldomScene";
  src: url("/public/font/SeldomScene/SeldomScene-B6lG.woff") format("woff");
}

@font-face {
  font-family: "Monument extended";
  font-weight: 400;
  src: url("/public/font/Monument-extended/MonumentExtended-Regular.woff2")
    format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: "Momentum extended";
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-medium: 0.9px 0.9px 1.4px hsl(var(--shadow-color) / 0.39),
    3.1px 3px 4.9px -0.8px hsl(var(--shadow-color) / 0.39),
    7.8px 7.6px 12.3px -1.7px hsl(var(--shadow-color) / 0.39),
    19px 18.6px 29.9px -2.5px hsl(var(--shadow-color) / 0.39);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.sectionTitle {
  font-size: 3.4rem;
  text-align: center;
  color: #41c77f;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  // background-color: #031315;
  background-color: #000000;
  color: white;
  // background-image: url("../public/stats.png");
  // background-position: 50%;
  // background-size: cover;
  height: auto;
}
