.rulesSection{
    width: 45%;
    margin: 0 auto;
    color: white;
    font-family: "Arame";
    .ruleSectionTitle{
        font-size: 3.4rem;
        text-align: center;
        color: #41C77F;
    }
    ul{
        list-style-type: disc;
        margin: 1.2rem 0;
        .rule{
            font-size: .9rem;
            font-weight: 600;
            margin-bottom: 1.3rem;
        }
    }
    
}

@media (max-width: 860px) {
    .rulesSection
    {
        width: 80%;
    }
}