.page_header {
    padding-top: 1rem;
    padding-bottom: 2rem;

    h1 {
        font-size: 4.3rem;
        font-weight: bolder;
        padding-bottom: 0.5rem;
        color: #78F251;
        text-shadow: 2px 4px 13px #469236;
        font-family: 'Kanit', sans-serif;
    }

    h4 {
        color: #618855;
    }
}