// .newThing{
//     --gradient-lime-start : ;
//     --gradient-lime-end : ;
// }

.rewradsContainer{

    --gradient-start : #aeefc9;
    --gradient-end : #157b3f ;
    --gradient-green-start : #68ed9f ;
    --gradient-green-end : #1bc462;
    margin: 8rem auto;

    width: 80% ;
    .cardHolder{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .card{
            width: 30%;
            height: 400px;
            border: 1px solid white;
            background-color: #0A8167;
            border-radius: 1rem;
            background: linear-gradient(
                hsla(145, 62%, 62%, 0.7),
                hsla(167, 77%, 39%, 0.7),
                hsla(167, 77%, 24%, 0.7),
                hsla(167, 83%, 16%, 0.7),
            );
        }
        .special{
            position: relative;
            bottom: 3rem;
            background: linear-gradient(
                #8ccea8,
                var(--gradient-green-start),
                var(--gradient-green-end),
                var(--gradient-end),
            );
            // background: linear-gradient(
            //     #8ccea8,
            //     #68ed9f,
            //     #1dc764,
            //     #157b3f,
            // );
            border-radius: 1rem;
        }
    }
}